/* importar fontes */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=VT323&family=Poppins:wght@400;700&display=swap');

body {
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.pokemon-font {
  font-family: 'Luckiest Guy', cursive;
}

.pixel-font {
  font-family: 'VT323', monospace;
}

/* para links */
a {
  text-decoration: none;
  color: inherit;
}